ion-list {
  padding: 0;
}

.chapter-numbers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  margin-top: -1px;

  .chapter-number-wrapper {
    text-align: center;
    position: relative;
    border: 1px solid var(--ion-color-light-shade);
    margin:0 -1px -1px 0;

    .chapter-number {
      height: 60px;
      padding: 20px 0px;
    }
  }
}

.active-book {
  background: var(--ion-color-light);
  border-bottom: 1px solid var(--ion-color-light-shade);

  ion-item {
    --background: var(--ion-color-light);
    font-weight: bold;
  }
}